## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.cache
*.vs/
.vs/

## NuGet
packages/
*.nupkg

## WebView2
**/EBWebView/

## IDE
.idea/

## OS
Thumbs.db
Desktop.ini
.DS_Store

## Build output
publish/
Releases/
backup_uploaded_release/
backup_current_working_build/

## Secrets
activator.key
